{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["html", "prettier", "react-hooks"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-debugger": "warn",
    "no-alert": "off",
    "no-await-in-loop": "off",
    "no-return-assign": ["error", "except-parens"],
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "no-unused-vars": [
      "warn",
      {
        "ignoreSiblings": true,
        "argsIgnorePattern": "res|next|^err"
      }
    ],
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "no-unused-expressions": [
      "error",
      {
        "allowTaggedTemplates": true
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-console": "warn",
    "import/prefer-default-export": "off",
    "import": "off",
    "func-names": "off",
    "import/extensions": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "react/display-name": "warn",
    "react/no-array-index-key": "off",
    "react/react-in-jsx-scope": "off",
    "react/prefer-stateless-function": "off",
    "react/forbid-prop-types": "off",
    "react/no-unescaped-entities": "off",
    "react/require-default-props": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "radix": "off",
    "no-shadow": [
      "error",
      {
        "hoist": "all",
        "allow": [
          "resolve",
          "reject",
          "done",
          "next",
          "err",
          "error"
        ]
      }
    ],
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": [
      "warn",
      {
        "aspects": ["invalidHref"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
